# Change username, password, db_name to your own, shadow_db_name to your own shadow database name with prefix shadow_
DATABASE_URL="mysql://username:password@localhost:3306/db_name"
SHADOW_DATABASE_URL="mysql://username:password@localhost:3306/shadow_db_name"